.banner {
  background-color: var(--primary-color);
  padding: 2em;
  height: 470px;
  margin-bottom: 2em;
  background-image: url("../assets/img/banner-vinted.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 7rem;
  position: relative;
}

.bloc-info {
  background-color: #fff;
  width: 12em;
  padding: 1.7em 1em 0.5em 1em;
  font-size: 2.2em;
  margin-top: 2em;
  border-radius: var(--border-radius);
}

.bloc-info h1 {
  margin-bottom: 1em;
}

.bloc-info button {
  font-size: 0.5em;
  color: #fff;
  padding: 0.9rem;
  border: none;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.hero {
  position: absolute;
  width: 50rem;
  bottom: 0;
  right: 0;
}
