.button-custom {
  padding: 0.6rem;
  font-size: 0.7rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
  margin-top: 3em;
}
