@keyframes moveIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.information-bloc {
  padding: 0.6rem 0;
  background-color: #5c48d3;
  color: #fff;
  font-size: 0.9rem;
}

.information-bloc p {
  animation: 30s moveIn linear infinite;
}

.information-bloc a {
  color: #fff;
  font-weight: 600;
}
